@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-ios-background text-ios-text;
  /* 禁止移动端橡皮筋效果，模拟原生 App 质感 */
  overscroll-behavior-y: none; 
}